<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Demo Bundle{% endblock %}</title>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/gamecore/css/main.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/gamecore/bootstrap/css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/gamecore/bootstrap/css/bootstrap-responsive.css') }}" />
    <script src="{{ asset('bundles/gamecore/js/jquery/jquery-1.8.2.js') }}" ></script>
    <script src="{{ asset('bundles/gamecore/js/kinetic-v4.0.3.js') }}" ></script>
    <script src="{{ asset('bundles/gamecore/js/game.js') }}" ></script>
	<script src="{{ asset('bundles/gamecore/js/gameSprite.js') }}" ></script>
	<script src="{{ asset('bundles/gamecore/js/gameSpriteUser.js') }}" ></script>
	<script src="{{ asset('bundles/gamecore/bootstrap/js/bootstrap.min.js') }}" ></script>
	<script src="{{ asset('bundles/gamecore/bootstrap/js/bootstrap-dropdown.js') }}" ></script>
    {% block game %}{% endblock %}
</head>
<body>
	{% include 'GameCoreBundle::menu.html.twig'%}
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
    <div id="game"></div>
</body>
</html>
