<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Demo Bundle{% endblock %}</title>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/gamecore/css/main.css') }}" />
    <script src="{{ asset('bundles/gamecore/js/jquery/jquery-1.8.2.js') }}" ></script>
    <script src="{{ asset('bundles/gamecore/js/kinetic-v4.0.3.js') }}" ></script>
    <script src="{{ asset('bundles/gamecore/js/game.js') }}" ></script>
    {% block game %}{% endblock %}
</head>
<body>
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

    <div id="game"></div>
</body>
</html>
